input
	width 100%
	min-height 38px
	background-color #000
	border-bottom 1px solid #4d4d4d
	font-size 14px
	font-family fontFamily
	color #fff
	box-shadow none
	padding-left 25px
	padding-right 25px
	vertical-align middle
	flex 0 1 auto
	transition background-color .15s, box-shadow .15s
	placeholder({color: #4d4d4d})
	.input-error &
		border-color red-color
		margin-bottom 0

.input-error
	position relative
	margin-bottom 20px
	&__text
		font-size 12px
		font-style italic
		line-height 20px
		top calc(100% + 10px)
		position absolute
		display block