doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Website for Surfers

		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		//- ===== favicons =====
		link(rel="shortcut icon" type="image/x-icon" href="images/favicon.ico")
		link(rel="apple-touch-icon" sizes="57x57" href="images/favicon-iphone.svg")
		link(rel="apple-touch-icon" sizes="114x114" href="images/favicon-iphone.svg")
		link(rel="apple-touch-icon" sizes="72x72" href="images/favicon-iphone.svg")
		link(rel="apple-touch-icon" sizes="144x144" href="images/favicon-iphone.svg")
		link(rel="apple-touch-icon" sizes="57x57" href="images/favicon-iphone.png")
		link(rel="apple-touch-icon" sizes="114x114" href="images/favicon-iphone.png")
		link(rel="apple-touch-icon" sizes="72x72" href="images/favicon-iphone.png")
		link(rel="apple-touch-icon" sizes="144x144" href="images/favicon-iphone.png")

		//- ===== styles =====
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet", href="css/all.css")
	body
		.canvas.js-canvas
			block body
				header.header
					.row.header__box
						.col-12.col-md-12.header__box--rem
							.burger.hide-moretablet.js-side-toggle
							.logo Surfers Co.
							.menu
								a.menu__item(href="#") Boards
								a.menu__item(href="#") Accessories
								a.menu__item(href="#") Blog
								a.menu__item(href="#") Technology
								a.menu__item(href="#") Team
								a.menu__item(href="#") Dealers
							.sprite
								a.sprite__link.sprite__link--facebook(href="#")
								a.sprite__link.sprite__link--instagram(href="#")
								a.sprite__link.sprite__link--mail(href="#")
						.col-12
							.title
								.title__name Ride every wave as if it's your last
								.title__promo We love the motion of the ocean
				main.main
					block content
				footer.footer
					.row.footer__box
						.col-6.col-md-0
						.col-6.col-md-12
							.footer__menu
								.footer__menu-colum
									a.footer__menu-link(href="") About
									a.footer__menu-link(href="") Boards
									a.footer__menu-link(href="") Accessories
									a.footer__menu-link(href="") Blog
								.footer__menu-colum
									a.footer__menu-link(href="") Technology
									a.footer__menu-link(href="") Team
									a.footer__menu-link(href="") Dealers
									a.footer__menu-link(href="") Contact us
						.col-12
							.footer__bottom.row
								.col-6.col-md-12
									.footer__copyright &#169; 2017 Surfers Co. #[span.footer__icon &#183;] Design by @lucaalco
								.col-4.col-md-12
									.footer__mail
										.footer__mail-title Subscribe to our newsletter
										form.footer__form(action="")
											input.footer__input(type="email" placeholder="Your e-mail")
											a.footer__send(href="")
		aside.side-menu.js-side
			.menu--side
				a.menu__item.menu__item--side(href="#") Boards
				a.menu__item.menu__item--side(href="#") Accessories
				a.menu__item.menu__item--side(href="#") Blog
				a.menu__item.menu__item--side(href="#") Technology
				a.menu__item.menu__item--side(href="#") Team
				a.menu__item.menu__item--side(href="#") Dealers
	
		script(type="text/javascript", src="js/all.js", async="async")
