include ../includes/_mixins

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Website for Surfers

		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		//- ===== favicons =====
		link(rel="shortcut icon" type="image/x-icon" href="images/favicon.ico")
		link(rel="apple-touch-icon" sizes="57x57" href="images/favicon-iphone.svg")
		link(rel="apple-touch-icon" sizes="114x114" href="images/favicon-iphone.svg")
		link(rel="apple-touch-icon" sizes="72x72" href="images/favicon-iphone.svg")
		link(rel="apple-touch-icon" sizes="144x144" href="images/favicon-iphone.svg")
		link(rel="apple-touch-icon" sizes="57x57" href="images/favicon-iphone.png")
		link(rel="apple-touch-icon" sizes="114x114" href="images/favicon-iphone.png")
		link(rel="apple-touch-icon" sizes="72x72" href="images/favicon-iphone.png")
		link(rel="apple-touch-icon" sizes="144x144" href="images/favicon-iphone.png")

		//- ===== styles =====
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet", href="css/all.css")
	body
		.canvas.js-canvas
			block body
				header.header
					.row.header__box
						.col-12.header__box--rem
							.logo Surfers Co.
							.menu
								a.menu-item(href="#") Boards
								a.menu-item(href="#") Accessories
								a.menu-item(href="#") Blog
								a.menu-item(href="#") Technology
								a.menu-item(href="#") Team
								a.menu-item(href="#") Dealers
							.sprite
								a.sprite__link.sprite__link--facebook(href="#")
								a.sprite__link.sprite__link--instagram(href="#")
								a.sprite__link.sprite__link--mail(href="#")
							.burger.hide-moretablet.js-side-toggle
						.col-12
							.title
								.title__name Ride every wave as if it's your last
								.title__promo We love the motion of the ocean
				main.main
					block content
				footer.footer
					.row.footer__box
						.footer__menu
							.footer__menu-colum
								a.footer__menu-link(href="") About
								a.footer__menu-link(href="") Boards
								a.footer__menu-link(href="") Accessories
								a.footer__menu-link(href="") Blog
							.footer__menu-colum
								a.footer__menu-link(href="") Technology
								a.footer__menu-link(href="") Team
								a.footer__menu-link(href="") Dealers
								a.footer__menu-link(href="") Contact us
						.footer__bottom
							.footer__copyright &#169; 2017 Surfers Co. #[span.footer_icon &#183;] Design by @lucaalco
							.footer__mail
								.footer__mail-title Subscribe to our newsletter
								input(type="text")
		aside.side-menu.js-side side-menu
		.popup-bg.js-popup-bg
			.popup#popup
				.popup__close.js-popup-close
				.popup__loaded.js-popup-loaded

		script(type="text/javascript", src="js/all.js", async="async")
