.accordion
	&__item
		border 1px solid gray-color
		& + &
			border-top none
	&__caption
		font-weight 500
		padding 15px 20px
		cursor pointer
		&:hover
			background-color gray-color
		{root()}__item.active > &
			background-color gray-color
			border-bottom 1px solid gray-color
	&__content
		padding-left 20px
		padding-right 20px
		margin-top 20px
		margin-bottom 20px
		display none
		{root()}__item.active > &
			display block