.accordion
	&__item
		border 1px solid gray-color
		& + &
			border-top none
	&__caption
		font-weight 500
		padding 15px 20px
		cursor pointer
		&:hover
			background-color gray-color
		{root()}__item.active > &
			background-color gray-color
			border-bottom 1px solid gray-color
	// &__toggle
	// 	size 32px
	// 	vertical-align middle
	// 	background #fff //url('../images/icon-arrow-down.svg') 50% no-repeat
	// 	border-radius 50%
	// 	margin-left 10px
	// 	display inline-block
	// 	transition transform .3s, background .3s
	// 	{root()}__item.active > &
	// 		background-color orange-color
	// 		// background-image url('../images/icon-arrow-down-white.svg')
	// 		transform rotate(180deg)
	&__content
		padding-left 20px
		padding-right 20px
		margin-top 20px
		margin-bottom 20px
		display none
		{root()}__item.active > &
			display block