.mosaic
	&__box
		display flex
		flex-wrap wrap
		max-width 620px
		width 100%
		margin-right 51px
	&__img
		flex 1 0 auto
		background-repeat no-repeat
		width 50%
		height 310px

.facebook
	&__box
		margin-top 236px
	&__bg
		padding 20px 50px
		width 100%
		margin-top 58px
		background-image url('../images/bg_facebook.png')
		background-repeat no-repeat
		max-width 440px
		height 348px
	&__title
		margin-top 11px
		background-repeat no-repeat
		height 32px
		background-position center
		width 100%

.flex
	display flex