.mosaic
	&__box
		position relative
		z-index 2
		max-width 620px
		width 100%
		margin-right 51px
		&-img
			display flex
			flex-wrap wrap
	&__img
		flex 1 0 auto
		background-repeat no-repeat
		width 50%
		height 310px
	&__footer
		display flex
		padding 20px 15px
		background-color #fff
	&__instagram
		margin-right 26px
		&-link
			font-family fontFamily
			font-size 16px


.facebook
	&__box
		margin-top 236px
	&__bg
		padding 20px 50px
		width 100%
		margin-top 58px
		background-image url('../images/bg_facebook.png')
		background-repeat no-repeat
		max-width 440px
		height 348px
	&__title
		margin-top 11px
		background-repeat no-repeat
		height 32px
		background-position center
		width 100%
	&__wrap
		padding 8px
		margin-top 31px
		background-color #f6f7f9
		background-image url('../images/facebook_wrap.png')
		background-repeat no-repeat
		width 100%
		max-width 340px
	&__page-item
		display flex
	&__win
		display flex
		align-items center
		width 54px
		height 54px
		background-color blue-color
		border 2px solid #fff
		color #fff
		font-size 12px
		text-transform uppercase
		font-family secondFontFamily
		font-weight 700
		text-align center
		line-height 13px
	&__col
		padding 2px 5px
		line-height 19px
	&__name
		font-family fontFamily
		font-size 18px
		color #fff
	&__like
		font-family fontFamily
		font-size 12px
		color #fff
	&__sub
		margin-top 37px
		display flex
		justify-content space-between
		& a
			display inline-block
			background-color #f6f7f9
			color #4b4f56
			font-size 12px
			font-weight 600
			padding 1px 5px 1px 29px
	&__like-page
		position relative
		&:before
			content ''
			position absolute
			top 50%
			left 9px
			transform translateY(-50%)
			background-image url('../images/fb_btn-1.png')
			background-repeat no-repeat
			width 12px
			height 12px
	&__share
		position relative
		&:before
			content ''
			position absolute
			top 50%
			left 8px
			transform translateY(-50%)
			background-image url('../images/fb_btn-2.png')
			background-repeat no-repeat
			width 12px
			height 12px
	&__follower
		padding 10px 10px
		margin-top 17px
		background-color #fff
		box-shadow 0px 0px 20px rgba(0,0,0,0.2)
		&-title
			font-size 12px
			font-family fontFamily
			line-height 17px
		&-box
			display flex
		&-img
			height 32px
			width 100%
			background-repeat no-repeat
		


.flex
	display flex