.image
	margin-top 0.8em
	margin-bottom 0.8em
	display inline-block

	img
		max-width 100%
		display block

	&__description
		font-size 13px
		margin-top 10px
		margin-bottom 0
		display inline-block
		
	& + p
		margin-top 0

img
	max-width 100%
	vertical-align middle