.score

	&__board
		display flex
		align-items center

		&-small
			&__img
				display block
				background-repeat no-repeat
				width 60px
				height 60px
				border 3px solid transparent

				&:hover
					border 3px solid blue-color
	