.score
	&__pad
		padding 0px 86px
		position relative
		z-index 5
		margin-top -265px
		@media mobile
			padding 0px 20px
		@media small
			padding 0px 10px
			margin-top -365px
	&__box
		display flex
		background-color #ffffff
		background-image url('../images/corner.png')
		padding 40px
		background-repeat no-repeat
		@media tablet
			flex-direction column
			box-shadow 0px 3px 30px rgba(0,0,0,0.2)
		@media mobile
			padding 10px 0px
		@media small
			padding 5px 0px
	&__board
		display flex
		align-items center
		max-width 530px
		flex 1 0 auto
		padding: 35px;
		@media tablet
			padding 0px 35px
			margin 0 auto
		@media small
			padding 0px 10px
			flex-direction column

		&-big
			margin-right 65px
			max-width 325px
			width 100%
			@media small
				margin-right 0px

		&-small
			@media small
				display flex
				padding 10px 0px
			&__img
				display block
				background-repeat no-repeat
				width 70px
				height 70px
				border 3px solid transparent
				background-position: 0px 5px;

				&:hover
					border 3px solid blue-color
	&__info
		padding 0px 15px
		@media tablet
			margin-top 65px
		@media small
			margin-top 25px
		&-name
			@media tablet
				text-align center
			&__board
				font-family secondFontFamily
				font-weight 700
				font-size 20px
				line-height 28px
				@media small
					font-size 14px
					line-height 15px

	&__info-name__rating
		display flex
		margin-top 5px
	
	&__sale
		margin-top 35px
		display flex
		&__price
			font-family secondFontFamily
			font-weight 700
			font-size 24px
		&__sell
			border none
			background-color blue-color
			color #ffffff
			margin-left 24px
			padding 10px 32px
			font-family secondFontFamily
			font-weight 700
			font-size 14px
			text-transform uppercase
	&__link
		margin-top 80px
		@media tablet
			margin-top 30px
		&__more
			font-family secondFontFamily
			font-weight 700
			font-size 16px
			color blue-color
			border-bottom 2px solid blue-color

.rating-star
	margin-right 5px
	border none
	background-image url(../images/rating_star_sprite.png)
	height 14px
	width 12px
	background-repeat no-repead
	&--yellow
		background-position 0px 0px
	&--white
		background-position 13px 0px

.rating-number
	color #787878
	font-family secondFontFamily
	font-weight 700
	font-size 12px
	border none
	