table,
.table
	max-width 100%
	border 1px solid gray-color
	table-layout fixed
	thead,
	&__thead
		font-weight 700
		background-color gray-color
	th, td,
	&__td,
	&__th
		text-align left
		padding 15px 20px
		border 1px solid gray-color
	tr,
	&__tr
		&:hover
			td,
			{root()}__td
				background-color #fffae4
	
.table
	border-collapse collapse
	display table
	&__tr
		display table-row
	&__thead
		display table-header-group
	&__tbody
		display table-row-group
	&__tfoot
		display table-footer-group
	&__col
		display table-column
	&__colgroup
		display table-column-group
	&__td,
	&__th
		display table-cell
	&__caption
		display table-caption

.table-scrollable
	overflow auto
	&__container
		min-width pageWidth

.table-separated
	@media tablet
		border none
		&,
		tbody
			display block
		thead
			display none
		tr
			border 1px solid #c5c5c5
			display block
			& + tr
				margin-top 20px
		td
			// padding-left 0
			// padding-right 0
			border none
			display block
	@media more-tablet
		&__caption
			display none